/* TODO - style demo box  */
.boxframe {
  border-radius: var(--academica-size-radius-med);
  background-color: var(--academica-color-bg-base);
  border: 1px solid var(--academica-color-border-neutral-light);
  padding: var(--academica-size-inner-vert-component) var(--academica-size-inner-horiz-component);
  margin-block: 2rem;
}
