.byline {
  font-size: var(--academica-size-text-small);
  margin-block: 1rem;
}

  .byline__name {
    display: inline-block;
    font-weight: 700;
    margin-inline-end: 0.5rem;
  }

  .byline__name::before {
      content: "By ";
    }

  .byline__date {
    border-inline-start: 1px solid var(--academica-color-border-primary);
    padding-inline-start: 0.5rem;
  }
