.node {
  display: block;
  inline-size: auto;
  
  &__content {
    display: flex;
    flex-direction: column;
    jusify-content: center;
    margin-block-end: 2rem;
  }
  
  &__content-inner {
    display: inline-block;
    inline-size: auto;
    /* margin: 0 auto; */
  }
}