
.blockquote {
  position: relative;

  padding: 1.25rem 0.75rem;
  margin-block: 1.5rem;
  margin-inline: 1rem;

  font-family: var(--academica-font-secondary);
  font-size: var(--academica-size-text-med);
  line-height: 1.4;
  font-weight: 400;
  color: var(--academica-color-fg-subdued);
}

  .blockquote::before {
    position: absolute;
    margin-inline-start: 0;
    margin-inline-end: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 10px;
    height: 100%;
    background-color: var(--academica-color-border-tertiary);

    border-radius: var(--academica-size-radius-med);
  }

  .blockquote p,
  .blockquote span {
    display: block;
    padding-inline: 1.25rem;

    font-family: var(--academica-font-secondary);
    font-size: var(--academica-size-text-med);
    line-height: 1.4;
    font-weight: 400;
    color: var(--academica-color-fg-subdued);
  }

  .blockquote cite {
    font-family: var(--academica-font-primary);
    font-size: var(--academica-size-text-small);
    line-height: 1.2;
    font-weight: 400;
    text-align: right;
    width: 100%;
    display: block;
  }

  .blockquote--float-left {
    float: left;
    margin-inline-start: 0;
  }

  .blockquote--float-right {
    float: right;
    margin-inline-end: 0;
  }

  /*** Large Pullquote variant ***/

  .blockquote--pullquote {

    padding: 1rem 2rem;
    padding-inline-start: 4rem;
    border: 0;
  }

  /* &::before { */

  /*   height: 1rem; */

  /*   width: 1rem; */

  /*   content: "\201C"; */

  /*   color: var(--academica-color-fg-secondary); */

  /*   font-size: 8rem; */

  /*   position: absolute; */

  /*   top: 0; */

  /*   left: 0; */

  /*   transform: translate(-1rem -1rem); */

  /* } */

  /** mimmics news site pullquote **/

  .blockquote--pullquote::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
      display: inline-block;

      background-color: var(--academica-color-bg-tertiary);
      color: var(--academica-color-fg-white-static);

      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 3rem;
      text-align: center;

      background-image: url('../images/quote.svg');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
    }

  .blockquote--pullquote p,
    .blockquote--pullquote span {
      font-family: var(--academica-font-serif);
      color: var(--academica-color-fg-secondary);
      font-size: calc(var(--academica-size-text-med) * 2.25);
      line-height: 1.3;
      font-weight: 500;
      padding-inline: 0;
    }

  .blockquote--pullquote cite {
      font-family: var(--academica-font-primary);
      font-size: var(--academica-size-text-med);
      line-height: 1.3;
    }
