
.table {

  thead {
  }

  th {
    padding: 1rem;
    background-color: var(--academica-color-bg-secondary-light);
  }

  tr {

  }

  tr:nth-child(even) {
    background-color:  var(--academica-color-bg-neutral-lightest);
  }

  td {
    padding: 1rem;
  }
}
