.button {
  position: relative;
  padding-inline: var(--academica-size-radius-button);
  
  max-inline-size: 100%;
  block-size: var(--academica-size-block-button);
  inline-size: auto;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--academica-size-md-gap-component);
  
  background-color: var(--academica-color-action-primary-default);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  
  border: var(--academica-size-thickness-component) solid transparent;
  outline: none;
  border-radius: var(--academica-size-radius-button);
  
  transition: var(--academica-transition-basic);
  cursor: pointer;
  
  font-family: var(--academica-font-primary);
  font-size: var(--academica-size-text-med);
  font-weight: 600;
  line-height: 1;
  color: var(--academica-color-fg-black-static);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-transform: uppercase;
}
  
  /*** Focus Indicator ***/
  .button::after {
    position: absolute;
    margin: auto;
    content: "";
    left: 0;
    top: 0;
    
    z-index: -1;
    
    inline-size: calc(100% + (var(--academica-size-gap-focus-indicator) * 2) + (var(--academica-size-thickness-component) * 2));
    block-size: calc(100% + (var(--academica-size-gap-focus-indicator) * 2) + (var(--academica-size-thickness-component) * 2));
    
    margin-block-start: calc((var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-focus-indicator) + var(--academica-size-thickness-component)) * -1);
    margin-inline-start: calc((var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-focus-indicator) + var(--academica-size-thickness-component)) * -1);
    
    border-width: var(--academica-size-thickness-focus-indicator);
    border-style: solid;
    border-color: var(--academica-color-focus-indicator);
    opacity: 0;
    
    border-radius: calc(var(--academica-size-radius-button) + var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-component));
  }
  .button__text {}
  /*** Child Icon ***/
  .button__icon {
    display: flex;
    block-size: calc(var(--academica-size-block-button) * 0.5);
    inline-size: auto;
    font-size: inherit;
    color: inherit;
  }
  .button__icon svg {
      transition: var(--academica-transition-basic);
    }
  .button__icon svg path {
        fill: currentcolor;
      }
  /*** State: Hover ***/
  .button:hover,
  .button.hover {
    background-color: var(--academica-color-action-primary-hover);
    color: var(--academica-color-fg-black-static);
  }
  /*** State: Focus ***/
  .button:focus:not(:focus-visible)::after, .button.focus:not(.focus-visible)::after {
      opacity: 1;
    }
  .button:focus,
  .button.focus,
  .button:focus-visible,
  .button.focus-visible {
    background-color: var(--academica-color-action-primary-focus);
    color: var(--academica-color-fg-black-static);
    box-shadow: none;
  }
  .button:focus::after, .button.focus::after, .button:focus-visible::after, .button.focus-visible::after {
      border-color: var(--academica-color-focus-indicator);
      opacity: 1;
    }
  /*** State: Active ***/
  .button:active,
  .button.active,
  .button:focus:active,
  .button.focus.active,
  .button:focus-visible:active,
  .button.focus-visible.active {
    background-color: var(--academica-color-action-primary-active);
    color: var(--academica-color-fg-black-static);
  }
  /*** prevent focus from firing on click ***/
  .button:-webkit-focus-ring {
    outline: none;
  }
  /*** Variant - secondary ***/
  .button--secondary {
    background-color: var(--academica-color-action-secondary-default);
  }
  .button--secondary:hover,
    .button--secondary.hover {
      background-color: var(--academica-color-action-secondary-hover);
    }
  .button--secondary:focus,
    .button--secondary.focus,
    .button--secondary:focus-visible,
    .button--secondary.focus-visible {
      background-color: var(--academica-color-action-secondary-focus);
    }
  .button--secondary:active,
    .button--secondary.active,
    .button--secondary:focus:active,
    .button--secondary.focus.active {
      background-color: var(--academica-color-action-secondary-active);
    }
  /*** Variant - ghost ***/
  .button--ghost,
  .button--empty {
    background-color: transparent;
    border: var(--academica-size-thickness-component) solid var(--academica-color-action-secondary-default);
    color: var(--academica-color-fg-base);
  }
  .button--ghost:hover,
    .button--ghost.hover,
    .button--empty:hover,
    .button--empty.hover {
      background-color: transparent;
      border-color: var(--academica-color-action-secondary-hover);
      color: var(--academica-color-link-hover);
    }
  .button--ghost:hover path, .button--ghost.hover path, .button--empty:hover path, .button--empty.hover path {
        fill: var(--academica-color-link-hover);
      }
  .button--ghost:focus,
    .button--ghost.focus,
    .button--ghost:focus-visible,
    .button--ghost.focus-visible,
    .button--empty:focus,
    .button--empty.focus,
    .button--empty:focus-visible,
    .button--empty.focus-visible {
      background-color: transparent;
      border-color: var(--academica-color-action-secondary-focus);
      color: var(--academica-color-fg-base);
    }
  .button--ghost:active,
    .button--ghost.active,
    .button--ghost:focus:active,
    .button--ghost.focus.active,
    .button--empty:active,
    .button--empty.active,
    .button--empty:focus:active,
    .button--empty.focus.active {
      background-color: transparent;
      border-color: var(--academica-color-action-secondary-active);
      color: var(--academica-color-fg-base);
    }
  .button--empty {
    border: var(--academica-size-thickness-component) solid transparent;
  }
  /*** Variant - circle ***/
  .button--circle {
    border-radius: 100%;
    block-size: var(--academica-size-block-button);
    inline-size: var(--academica-size-block-button);
    max-inline-size: var(--academica-size-block-button);
    max-block-size: var(--academica-size-block-button);
  }
  .button--circle::after {
      border-radius: 100%;
    }
  .button--circle .button__content {
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
    }
  /*** Variant - vertical layout ***/
  .button--vertical {
    flex-direction: column;
    block-size: calc(var(--academica-size-block-button) * 1.5);
    gap: var(--academica-size-sm-gap-component);
  }
  .button--vertical .button__icon {
      block-size: auto;
      /* inline-size: calc(var(--academica-size-block-button)* 0.75); */
      inline-size: var(--academica-size-block-button);
    }
  /*** Variant - small ***/
  .button--size-small {
    font-size: var(--academica-size-text-small);
    padding-inline: calc(var(--academica-size-radius-button) * 0.5);
    block-size: calc(var(--academica-size-block-button) * 0.75);
  }
  /*** Variant - large ***/
  .button--size-large {
    font-size: var(--academica-size-text-lrg);
    padding-inline: calc(var(--academica-size-radius-button) * 1.25);
    block-size: calc(var(--academica-size-block-button) * 1.5);
    border-radius: calc(var(--academica-size-radius-button) * 1.5);
  }
  /*** Variant - if Button is inside a menu ***/
  .button--nav {
    color: var(--academica-color-action-nav-fg-default);
    background-color: transparent;
  }
  .button--nav:hover,
    .button--nav.hover {
      color: var(--academica-color-action-nav-fg-hover);
      border-color: transparent;
      outline: none;
      background-color: transparent;
    }
  .button--nav:focus,
    .button--nav.focus,
    .button--nav:focus-visible,
    .button--nav.focus-visible {
      color: var(--academica-color-action-nav-fg-focus);
      outline: none;
      background-color: transparent;
    }
  .button--nav:active,
    .button--nav.active,
    .button--nav:focus:active,
    .button--nav.focus.active {
      color: var(--academica-color-action-nav-fg-active);
      border-color: transparent;
      outline: none;
      background-color: transparent;
    }
  .button--right {
    margin-inline-start: auto;
  }
  /*** Variant - main menu toggle ***/
  .button--menu-toggle {
    border-color: transparent;
    position: absolute;
    align-self: flex-end;
    top: 0;
    right: 0;
    display: none;
    inline-size: var(--academica-size-mobile-nav-toggle);
    block-size: var(--academica-size-mobile-nav-toggle);
    padding-block: 0;
    background-color: var(--academica-color-bg-primary);
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0;
    border-width: 0;
    border-color: transparent;
    border-inline-start-width: 2px;
    color: var(--academica-color-fg-white-static);
    z-index: 2;
  }
  .button--menu-toggle span {
      font-size: inherit;
    }
  .button--menu-toggle:hover,
    .button--menu-toggle:focus {
      border-color: transparent;
    }
  .button--menu-toggle::after {
      border-radius: 0;
    }
  .button--menu-toggle .button__icon {
      block-size: auto;
      inline-size: calc(100% * 0.75);
      content: url("../../../assets/icons/menu-open.svg");
      filter: invert(1);
    }
  /* change icon to white */
  .button--menu-toggle svg {
      filter: invert(1);
    }
  .button--menu-toggle .button__content {
      font-size: var(--academica-size-text-small);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0.25rem;
    }
  /* menu is closed */
  .button--menu-toggle .close-text {
      display: none;
    }
  .button--menu-toggle .open-text {
      display: block;
    }
  .button--menu-toggle.is-closed .button__icon {
        content: url("../../../assets/icons/menu-open.svg");
        filter: invert(1);
      }
  /* menu is opened */
  .button--menu-toggle.is-open .button__icon {
        content: url("../../../assets/icons/menu-close.svg");
        filter: invert(1);
      }
  .button--menu-toggle.is-open .close-text {
        display: block
      }
  .button--menu-toggle.is-open .open-text {
        display: none;
      }
  /* states are simplified */
  .button--menu-toggle:hover,
    .button--menu-toggle:focus,
    .button--menu-toggle:active {
      background-color: var(--academica-color-bg-primary);
      color: var(--academica-color-fg-white-static);
    }