/*!
 * Each semantic variable maps to a primitive variable
 * Semantic variables should follow a naming structure of genral-to-specific
 * 1 - Design system name, 2 - the property of the variable, 3 - what the variable applies to (bg, fg, text), 4 - lastly, modifiers
 * Example: --designsystemname-color-text-primary
 * Example: --academica-color-border-primary
 *
 */

:root {
  /********* SEMANTICS *********/
  /*** SET THEME COLORS ***/
  /*** Form Accents - Base Theme ***/
  --academica-color-accent-primary: var(--academica-color-cyan-050);
  
  /*** Background - Surface - DEFAULT - changes only in dark mode ***/
  --academica-color-bg-base: var(--academica-color-white);
  
  /*** Foreground / Text - DEFAULT - changes only in dark mode ***/
  --academica-color-fg-base: var(--academica-color-black);
  --academica-color-fg-subdued: var(--academica-color-gray-005);
  
  /*** Foreground / Text - Base Theme ***/
  --academica-color-fg-primary: var(--academica-color-blue-020);
  --academica-color-fg-primary-medium: var(--academica-color-blue-040);
  --academica-color-fg-secondary: var(--academica-color-cyan-020);
  --academica-color-fg-tertiary: var(--academica-color-yellow-060);
  
  /*** Backgrounds - Base Theme ***/
  --academica-color-bg-primary-dark: var(--academica-color-blue-010);
  --academica-color-bg-primary: var(--academica-color-blue-015);
  --academica-color-bg-primary-medium: var(--academica-color-blue-040);
  --academica-color-bg-primary-light: var(--academica-color-blue-070);
  --academica-color-bg-primary-lightest: var(--academica-color-blue-095);
  
  --academica-color-bg-primary-alpha: var(--academica-color-blue-015-a75);
  --academica-color-bg-primary-light-alpha: var(--academica-color-blue-070-a50);
  --academica-color-bg-primary-lightest-alpha: var(--academica-color-blue-095-a75);
  --academica-color-bg-primary-lightest-alpha-alpha: var(--academica-color-blue-095-a70);
  
  --academica-color-bg-secondary: var(--academica-color-cyan-040);
  --academica-color-bg-secondary-light: var(--academica-color-cyan-080);
  
  --academica-color-bg-tertiary: var(--academica-color-yellow-060);
  --academica-color-bg-tertiary-light: var(--academica-color-yellow-090);
  
  /*** Backgrounds - Base Theme - Neutral ***/
  --academica-color-bg-neutral: var(--academica-color-gray-060);
  --academica-color-bg-neutral-light: var(--academica-color-gray-080);
  --academica-color-bg-neutral-lightest: var(--academica-color-gray-095);
  
  /*** Borders - Base Theme ***/
  --academica-color-border-primary: var(--academica-color-blue-020);
  --academica-color-border-primary-light: var(--academica-color-blue-060);
  
  --academica-color-border-secondary: var(--academica-color-cyan-040);
  --academica-color-border-secondary-light: var(--academica-color-cyan-070);
  
  --academica-color-border-tertiary: var(--academica-color-yellow-060);
  --academica-color-border-tertiary-light: var(--academica-color-yellow-070);
  
  /*** Borders - Base Theme - Neutral ***/
  --academica-color-border-neutral: var(--academica-color-gray-040);
  --academica-color-border-neutral-light: var(--academica-color-gray-080);
  
  /*** Actions - Primary Buttons and Inputs - Base Theme ***/
  --academica-color-action-primary-default: var(--academica-color-cyan-070);
  --academica-color-action-primary-hover: var(--academica-color-cyan-075);
  --academica-color-action-primary-focus: var(--academica-color-cyan-075);
  --academica-color-action-primary-active: var(--academica-color-cyan-085);
  
  /*** Actions - Secondary Buttons and Inputs - Base Theme ***/
  --academica-color-action-secondary-default: var(--academica-color-gray-070);
  --academica-color-action-secondary-hover: var(--academica-color-gray-085);
  --academica-color-action-secondary-focus: var(--academica-color-gray-085);
  --academica-color-action-secondary-active: var(--academica-color-gray-090);
  
  /*** Actions - Link Text ***/
  --academica-color-link-default: var(--academica-color-blue-030);
  --academica-color-link-hover: var(--academica-color-cyan-040);
  --academica-color-link-focus: var(--academica-color-cyan-040);
  --academica-color-link-active: var(--academica-color-cyan-050);
  --academica-color-link-visited: var(--academica-color-fg-base);
  
  /*** Foreground / Text - Links text decoration ***/
  --academica-color-link-decoration-01: var(--academica-color-border-secondary-light);
  --academica-color-link-decoration-02: var(--academica-color-border-tertiary);
  
  /*** NAV Actions - Menu Items ***/
  --academica-color-action-nav-fg-default: var(--academica-color-blue-020);
  --academica-color-action-nav-fg-hover: var(--academica-color-blue-040);
  --academica-color-action-nav-fg-focus: var(--academica-color-blue-040);
  --academica-color-action-nav-fg-active: var(--academica-color-fg-black-static);
  --academica-color-action-nav-fg-icon: var(--academica-color-cyan-020);
  
  --academica-color-action-nav-bg-default: var(--academica-color-blue-090);
  --academica-color-action-nav-bg-subnav: var(--academica-color-blue-093);
  --academica-color-action-nav-bg-subnav-subnav: var(--academica-color-blue-095);
  --academica-color-action-nav-bg-subnav-subnav-subnav: var(--academica-color-blue-097);
  
  --academica-color-action-nav-bg-hover: var(--academica-color-bg-white-static);
  --academica-color-action-nav-bg-focus: var(--academica-color-bg-white-static);
  --academica-color-action-nav-bg-active: var(--academica-color-blue-097);
  
  /*** NAV Signifier for active nav items  - Base Theme ***/
  --academica-color-active-indicator: var(--academica-color-blue-040);
  --academica-color-hover-indicator: var(--academica-color-cyan-060);
  
  /*** Focus Indicator - Base Theme ***/
  --academica-color-focus-indicator: var(--academica-color-yellow-060);
  
  /*** STATIC does not change with dark mode or other themes ***/
  /*** Foreground / Text - Static ***/
  --academica-color-fg-white-static: var(--academica-color-white);
  --academica-color-fg-black-static: var(--academica-color-black);
  
  /*** Background - Static ***/
  --academica-color-bg-white-static: var(--academica-color-white);
  --academica-color-bg-black-static: var(--academica-color-black);
  
  /********* Tags *********/
  --academica-color-tag-cat1: var(--academica-color-cyan-080);
  --academica-color-tag-cat2: var(--academica-color-yellow-080);
  --academica-color-tag-cat3: var(--academica-color-blue-080);
  --academica-color-tag-cat4: var(--academica-color-gray-080);
  
  /********* ALERTS *********/
  
  /*** Informative ***/
  --academica-color-fg-alert-informative: var(--academica-color-cyan-020);
  --academica-color-border-alert-informative: var(--academica-color-cyan-030);
  --academica-color-bg-alert-informative: var(--academica-color-cyan-080);
  
  /*** Positive ***/
  --academica-color-fg-alert-positive: var(--academica-color-green-020);
  --academica-color-border-alert-positive: var(--academica-color-green-030);
  --academica-color-bg-alert-positive: var(--academica-color-green-080);
  
  /*** Warning ***/
  --academica-color-fg-alert-warning: var(--academica-color-orange-040);
  --academica-color-border-alert-warning: var(--academica-color-orange-060);
  --academica-color-bg-alert-warning: var(--academica-color-orange-080);
  
  /*** Negative ***/
  --academica-color-fg-alert-negative: var(--academica-color-red-030);
  --academica-color-border-alert-negative: var(--academica-color-red-040);
  --academica-color-bg-alert-negative: var(--academica-color-red-080);
}