.branding {
  position: relative;
  display: flex;
  width: 100%;
  min-inline-size: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--academica-color-bg-primary);
  background: url("/themes/custom/academica-2/assets/images/sacred-seed.svg"), var(--academica-color-bg-primary);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: calc(100% + 100px) center;
  block-size: var(--academica-branding-size-block);
}
  
  
  .branding__row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-inline: var(--academica-size-baseline);
    padding-block: 1rem;
    max-width: var(--academica-size-container-width-lg);
    block-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 3rem;
    gap: 1.5rem;
  }
  
  
  .branding__logo {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* flex: 0 0 9%; */
    block-size: calc(var(--academica-branding-size-block) - 2rem);
    inline-size: calc(var(--academica-branding-size-block) - 1rem);
  }
  
  
  .branding__logo img {
      height: 100%;
      width: auto;
      max-width: unset;
      /* padding: 0.125rem; */
      /* min-inline-size: 100px; */
      -o-object-fit: cover;
         object-fit: cover;
    }
  
  
  .branding__logo a {
      text-decoration: none;
      background: transparent;
    }
  
  
  .branding__site-name-slogan {
    position: relative;
    
    width: auto;
    max-width: 100%;
    /* flex-grow: 1;
    flex-basis: 0; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  
  .branding__site-slogan {
    text-decoration: none;
    
    font-size: 1.2rem;
    font-weight: 600;
    
    font-family: var(--academica-font-primary);
    font-style: normal;
    font-optical-sizing: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    text-align: left;
    width: 100%;
    
    color: var(--academica-color-fg-white-static);
  }
  
  
  /* Site name text */
  
  
  .branding__site-name a {
      text-decoration: none;
      background: transparent;
      
      font-size: 2.8rem;
      line-height: 1;
      font-weight: 500;
      
      font-family: var(--academica-font-secondary);
      font-style: normal;
      font-optical-sizing: auto;
      
      text-align: left;
      width: 100%;
      
      color: var(--academica-color-fg-white-static);
    }
  
  
  .branding__site-name a:hover,
    .branding__site-name a:focus {
      color: var(--academica-color-fg-white-static);
    }
  
  
  @media (max-width: 992px) {
      
      .branding .branding__row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-left: 0;
        flex: 0 0 calc(100% - (var(--academica-size-block-button) * 1.5));
      }
      
      .branding .branding__logo {
        /* flex: 0 0 20%;
        max-width: 20%; */
      }
      
      .branding .branding__site-name-slogan {
        display: flex;
        /* flex: 0 0 75%;
        max-width: 75%; */
        justify-content: flex-start;
      }
        
        /* Site name text */
        .branding__site-name a {
          max-width: 100%;
          font-size: 2rem;
          line-height: 1;
          
          text-wrap: wrap;
          overflow-wrap: break-word;
        }
  }
  
  
  @media (max-width: 768px) {
    .branding .branding__row {
      gap: 0.5rem;
    }
    
    .branding__site-slogan {
      font-size: 1rem;
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
  
  
  @media (max-width: 576px) {
      
      /* Site name text */
      .branding__site-name a {
        font-size: 1.4rem;
      }
  }