/*** *** *** ELEMENTS *** *** ***/
  .block-component-name__elementname {}
  .block-component-name__element-name {}
  /*** Focus Indicator ***/
  .block-component-name::after {
    position: absolute;
    margin: auto;
    content: "";
    left: 0;
    top: 0;
    
    z-index: -1;
    
    inline-size: calc(100% + (var(--academica-size-gap-focus-indicator) * 2) + (var(--academica-size-thickness-component) * 2));
    block-size: calc(100% + (var(--academica-size-gap-focus-indicator) * 2) + (var(--academica-size-thickness-component) * 2));
    
    margin-block-start: calc((var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-focus-indicator) + var(--academica-size-thickness-component)) * -1);
    margin-inline-start: calc((var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-focus-indicator) + var(--academica-size-thickness-component)) * -1);
    
    border-width: var(--academica-size-thickness-focus-indicator);
    border-style: solid;
    border-color: var(--academica-color-focus-indicator);
    opacity: 0;
    
    border-radius: calc(var(--academica-size-radius-button) + var(--academica-size-gap-focus-indicator) + var(--academica-size-thickness-component));
  }
  /*** *** STATES *** ***/
  /* state:hover */
  .block-component-name:hover {}
  /* state:focus */
  .block-component-name:focus,
  .block-component-name:focus-visible {}
  /* focus indicator */
  .block-component-name:focus:not(:focus-visible)::after {
      opacity: 1;
    }
  /* state:active */
  .block-component-name:active,
  .block-component-name:focus:active,
  .block-component-name:focus-visible:active {}
  /* prevent focus from firing on click */
  .block-component-name:-webkit-focus-ring {
    outline: none;
  }
  /*** *** *** VARIANTS *** *** ***/
  /*** variant: xxxxxx */
  .block-component-name--secondary {}