.content-row {
  min-block-size: 5rem;
  
  &__inner {
    padding: 2rem;
    display: flex;
    max-
  }
  
  &__col {}
  
  div {
    /* border: 2px dashed fuchsia; */
  }
  
  /*** *** BACKGROUNDS *** ***/
  &--bg-blue {
    background-color: var(--academica-color-bg-primary);
  }
  
  &--bg-cyan {
    background-color: var(--academica-color-bg-secondary);
  }
  
  &--bg-purple {
    background-color: var(--academica-color-bg-tertiary);
  }
}