{%
  set classes = [
  'blockquote',
    variant and variant != 'default' ? 'blockquote--' ~ variant,
  ]
%}

{% set attributes = attributes.addClass(classes) %}

<blockquote{{ attributes.addClass(content_row_classes) }}>
  <span class="blockquote__content">
    {{ content }}
  </span>
  <cite class="blockquote__cite">
    {{ cite }}
  </cite>
</blockquote>
