.banner {
  position: relative;
  z-index: 1;
  inline-size: 100%;
  background-color: var(--academica-color-bg-primary);
  margin-block-end: 3rem;
}

  /*** CHILD ELEMENTS ***/
  .banner__container {
    inline-size: 100%;
    margin: 0 auto;
    position: relative;
  }
  .banner__content {
    position: relative;
    z-index: 3;
    padding: 2rem;
    background: url("/themes/custom/academica-2/assets/images/sacred-seed.svg"), var(--academica-color-bg-primary);
    background-repeat: repeat-x;
    background-size: 6rem auto;
    background-position: center calc(0% - 3rem);
    overflow: hidden;
  }
  .banner__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner__title {
    position: relative;
    font-size: var(--academica-size-text-extra-lrg);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .banner__title::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 164px;
      height: 6px;
      -webkit-mask-image: url("/themes/custom/academica-2/assets/images/seed-petal.svg");
              mask-image: url("/themes/custom/academica-2/assets/images/seed-petal.svg");
      -webkit-mask-repeat: repeat-x;
              mask-repeat: repeat-x;
      background: linear-gradient(to right, var(--academica-color-rainbow));
    }
  .banner__text {
    font-size: var(--academica-size-text-lrg);
    line-height: 1.8;
  }
  .banner__image {
    display: flex;
    overflow: hidden;
  }
  @media (max-width: 992px) {
      .banner .banner__title {
        font-size: 3rem;
      }

      .banner .banner__text {
        font-size: var(--academica-size-text-med);
        line-height: 1.8;
        padding-inline-start: 1rem;
      }
  }
  /*** *** *** VARIANTS *** *** ***/
  /*** Hero style - full width ***/
  .banner--hero .banner__container {
      display: flex;
      flex-direction: column-reverse;
    }
  .banner--hero .banner__content {
      padding-block-start: 3rem;
      padding-block-end: 4rem;
    }
  .banner--hero .banner__content-inner {
      max-inline-size: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
    }
  .banner--hero .banner__title {
      flex: 0 0 50%;
      max-width: 50%;
      padding-inline-end: 2rem;
      block-size: 100%;
    }
  .banner--hero .banner__title::after {
        bottom: 0;
        top: 0;
        right: 0;
        left: unset;
        width: 150px;
        transform-origin: 100% 100%;
        transform: rotate(-90deg);
      }
  @media (max-width: 992px) {
        .banner--hero .banner__content-inner {
          flex-direction: column;
        }

        .banner--hero .banner__title {
          flex: 0 0 100%;
          max-width: 100%;
          padding-inline-end: 0;
          padding-block-end: 2rem;
        }

        .banner--hero .banner__title::after {
          transform: none;
          transform-origin: unset;
          top: unset;
          right: unset;
          left: 0;
        }
    }
  /*** Diptych style - two column ***/
  .banner--diptych {
    display: flex;
    flex-direction: row;
  }
  .banner--diptych .banner__container {
      min-block-size: 650px;

      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
  .banner--diptych .banner__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem;

      background: url("/themes/custom/academica-2/assets/images/sacred-seed.svg"), var(--academica-color-bg-primary);
      background-repeat: repeat-y;
      background-size: 6rem auto;
      background-position: calc(0% - 3rem) center;
    }
  .banner--diptych .banner__content-inner {
      gap: 2rem;
    }
  .banner--diptych .banner__title {
      padding-block-end: 2.5rem;
    }
  .banner--diptych .banner__text {
      padding-inline-start: 2rem;
    }
  .banner--diptych .banner__image {
      display: flex;
      flex: 0 0 60%;
      max-width: 60%;
    }
  .banner--diptych .banner__image img {
        max-width: unset;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
      }
  @media (max-width: 992px) {
        .banner--diptych .banner__container {
          flex-direction: column-reverse;
          min-block-size: unset;
        }

        .banner--diptych .banner__content {
          padding: 3rem;
        }

        .banner--diptych .banner__image {
          /* flex: 0 0 50%;
          max-width: 100%; */
          flex: unset;
          max-width: 100%;
          display: block;
        }

        .banner--diptych .banner__image img {
          width: 100%;
          max-width: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          /* object-fit: contain; */
        }
    }
