.nav {
  --nav-item-size-border: 1.5px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  inline-size: 100%;
  /* background-color: var(--academica-color-bg-base); */
  background-color: var(--academica-color-action-nav-bg-default);
}
  
  /* submenu show/hide  */
  .nav__subnav-wrapper {
    position: relative;
    width: 100%;
  }
  /* collapse subnav */
  .nav__item--collapsed .nav__subnav-wrapper {
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
  }
  .nav__item--collapsed .nav--level-1 {
    /* margin-block-start: calc((var(--academica-size-nav-item) + 100%) * -1); */
  }
  /* expand subnav */
  .nav__item--expanded .nav__subnav-wrapper {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  .nav .nav__item--expanded .nav--level-1 {
    margin-block-start: 0;
  }
  /*** *** Child element - List Item *** ***/
  .nav__item {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    max-inline-size: 100%;
    display: flex;
    flex-direction: column;
    /* gap: var(--nav-item-size-border); */
    flex-grow: 1;
    justify-content: flex-start;
    transition: var(--academica-transition-basic);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .nav__item--has-children .nav__link {
        padding-inline-end: calc(var(--academica-size-inner-menu-item-horizontal) + var(--academica-size-menu-dropdown-icon));
      }
  /*** prevent focus from firing on click ***/
  .nav__item--has-children:-webkit-focus-ring {
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }
  /*** Active trail indicators ***/
  .nav--level-0>.nav__item {
      border-inline-start: var(--academica-size-border-active-item) solid var(--academica-color-inactive-indicator);
    }
  .nav--level-0>.nav__item--active-trail {
      border-inline-start: var(--academica-size-border-active-item) solid var(--academica-color-active-indicator);
    }
  /* .nav--level-1 & {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-inactive-indicator);
    }

    .nav--level-1 &--active-trail {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-blue-060);
    }

    .nav--level-2 & {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-inactive-indicator);
    }

    .nav--level-2 &--active-trail {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-blue-080);
    }

    .nav--level-3 & {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-inactive-indicator);
    }

    .nav--level-3 &--active-trail {
      border-inline-start: calc(var(--academica-size-border-active-item) * 0.75) solid var(--academica-color-blue-090);
    } */
  /*** Has Child Menu - dropdown indicator ***/
  .nav__item--has-children::after {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      margin: auto;
      margin-inline-end: 0.25rem;
      margin-block-start: calc(var(--academica-size-nav-item) * 0.25);
      content: "\f0d7";
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-size: var(--academica-size-nav-dropdown-icon);
      color: var(--academica-color-action-nav-fg-icon);
      width: var(--academica-size-nav-dropdown-icon);
      height: var(--academica-size-nav-dropdown-icon);
      transition: var(--academica-transition-basic);
    }
  /* karet turned when open */
  .nav__item--expanded::after {
      transform: scaleY(-1);
    }
  /* Has child items */
  /*** State - Hover ***/
  .nav__item--has-children:hover {
        color: var(--academica-color-action-nav-fg-hover);
        outline: none;
        background-color: var(--academica-color-action-nav-bg-hover);
      }
  /*** State - Focus ***/
  .nav__item--has-children:focus,
      .nav__item--has-children:focus-visible {
        color: var(--academica-color-action-nav-fg-focus);
        outline: none;
        background-color: var(--academica-color-action-nav-bg-focus);
      }
  /*** State - Active ***/
  .nav__item--has-children:active,
      .nav__item--has-children.is-active {
        color: var(--academica-color-action-nav-fg-active);
        background-color: var(--academica-color-action-nav-bg-active);
        outline: none;
        box-shadow: none;
      }
  /*** prevent focus from firing on click ***/
  .nav__item--has-children:active:-webkit-focus-ring, .nav__item--has-children.is-active:-webkit-focus-ring {
          border-color: transparent;
          outline: none;
          box-shadow: none;
        }
  /*** *** Child element - Link *** ***/
  .nav__link {
    position: relative;
    display: block;
    block-size: 100%;
    max-inline-size: 100%;
    inline-size: 100%;
    
    font-size: 1.15rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    font-family: var(--academica-font-primary);
    
    text-decoration: none;
    color: var(--academica-color-action-nav-fg-default);
    text-align: left;
    
    transition: var(--academica-transition-basic);
    cursor: pointer;
    border-radius: 0;
    outline: none;
    box-sizing: border-box;
    padding-block: var(--academica-size-inner-nav-item-vertical);
    padding-inline: var(--academica-size-inner-nav-item-horizontal);
    background-color: var(--academica-color-bg-white-static);
    
    /*** Focus Indicator ***/
    border-width: var(--academica-size-thickness-focus-indicator);
    border-style: solid;
    border-color: transparent;
  }
  .nav--level-1 .nav__link {
      padding-block: calc(var(--academica-size-inner-nav-item-vertical) * 0.8);
      padding-inline-start: calc(var(--academica-size-inner-nav-item-horizontal) * 2);
      font-size: 1rem;
    }
  .nav--level-2 .nav__link {
      
      font-size: var(--academica-size-text-extra-small);
      padding-block: calc(var(--academica-size-inner-nav-item-vertical) * 0.7);
      padding-inline-start: calc(var(--academica-size-inner-nav-item-horizontal) * 3);
      font-size: 0.8rem;
    }
  .nav--level-3 .nav__link {
      padding-block: calc(var(--academica-size-inner-nav-item-vertical) * 0.6);
      padding-inline-start: calc(var(--academica-size-inner-nav-item-horizontal) * 4);
      font-size: 0.6rem;
    }
  .nav__item--active-trail .nav__link {}
  /* current active link */
  .nav__link[aria-current=page] {
      font-weight: 800;
    }
  /* make space for karet dropdown indicator */
  .nav__item--has-children .nav__link {
      padding-inline-end: calc(var(--academica-size-inner-nav-item-horizontal) + var(--academica-size-nav-dropdown-icon));
    }
  /*** State - Hover ***/
  .nav__link:hover {
      outline: none;
      color: var(--academica-color-action-nav-fg-hover);
      border-color: transparent;
      background-color: var(--academica-color-action-nav-bg-hover);
    }
  /*** State - Focus ***/
  .nav__link:focus,
    .nav__link:focus-visible {
      outline: none;
      color: var(--academica-color-action-nav-fg-focus);
      border-color: var(--academica-color-focus-indicator);
      background-color: var(--academica-color-action-nav-bg-focus);
    }
  /*** State - Active ***/
  .nav__link:active,
    .nav__link.is-active {
      outline: none;
      box-shadow: none;
      color: var(--academica-color-action-nav-fg-active);
      background-color: var(--academica-color-action-nav-bg-active);
    }
  /*** prevent focus from firing on click ***/
  .nav__link:active:-webkit-focus-ring, .nav__link.is-active:-webkit-focus-ring {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }
  /************ TYPES ************/
  /*** Sidebar Nav ***/
  .region--sidebar .nav {
    border-start-start-radius: var(--academica-size-radius-med);
    border-start-end-radius: var(--academica-size-radius-med);
  }
  .region--sidebar .nav .nav__item--level-0:first-child {
      border-inline-start: none;
    }
  /* first item is menu title */
  .region--sidebar .nav .nav__item--level-0:first-child .nav__link {
      border-start-start-radius: var(--academica-size-radius-med);
      border-start-end-radius: var(--academica-size-radius-med);
      position: relative;
      margin: 0;
      inline-size: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      
      background-color: var(--academica-color-bg-primary);
      border-block-end: 1px solid var(--academica-color-bg-base);
      color: var(--academica-color-fg-white-static);
      pointer-events: none;
      font-size: var(--academica-size-text-lrg);
    }
  /*** Footer Nav ***/
  .nav--footer {
    flex-direction: column;
    justify-content: flex-start;
    background: transparent;
    /* TODO - padding same as menu title */
    padding: 0.75rem 1rem;
  }
  .nav--footer .nav__item {
      border-inline-start: 1px solid var(--academica-color-border-neutral);
    }
  .nav--footer .nav__link {
      background: transparent;
      font-size: var(--academica-size-text-small);
      padding: calc(var(--academica-size-inner-nav-item-vertical) * 0.5) calc(var(--academica-size-inner-nav-item-horizontal) * 0.5);
      color: var(--academica-color-link-default);
    }
  .nav--footer .nav__link:hover {
        color: var(--academica-color-link-hover);
      }
  .nav--footer .nav__link:active {
        color: var(--academica-color-link-active);
      }



/********* DESKTOP DISPLAY ONLY for MENU--MAIN *********/



@media (min-width: 992px) {
  
  .region--main-nav .nav--main {
    
    /* END desktop media query */
  }
    
    .region--main-nav .nav--main .nav__item--level-0>.nav__link {
      background: transparent;
    }
    
    .region--main-nav .nav--main .nav__item--level-1>.nav__link {
      padding-inline-start: calc(var(--academica-size-inner-nav-item-horizontal) * 1);
    }
    
    .region--main-nav .nav--main .nav__item--level-2>.nav__link {
      padding-inline-start: calc(var(--academica-size-inner-nav-item-horizontal) * 2);
    }
    
    /* disable nav levels over level 0 and 1 */
    .region--main-nav .nav--main .nav__subnav-wrapper .nav__subnav-wrapper {
      /* display: none; */
    }
    
    .region--main-nav .nav--main .nav__subnav-wrapper .nav__item--has-children::after {
      display: none;
    }
    
    /* Active indicator */
    .region--main-nav .nav--main .nav__item--level-0 {
      border-inline-start: 0;
    }
    
    /* Active indicator */
    .region--main-nav .nav--main.nav--level-0>.nav__item--active-trail::before {
      position: absolute;
      z-index: 2;
      top: 0;
      content: "";
      width: 100%;
      height: var(--academica-size-border-active-item);
      background-color: var(--academica-color-active-indicator);
      transform: translateY(calc(var(--academica-size-border-active-item) * -0.5));
    }
    
    /* nav level 0 is horizontal */
    .region--main-nav .nav--main.nav--level-0 {
      flex-direction: row;
      justify-content: flex-start;
    }
    
    .region--main-nav .nav--main.nav--level-0>.nav__item {
      /* box-shadow: calc(var(--nav-item-size-border) * -1) 0 0px 0px var(--academica-color-bg-base),
        var(--nav-item-size-border) 0 0px 0px var(--academica-color-bg-base); */
      block-size: var(--academica-size-nav-item);
    }
    
    .region--main-nav .nav--main.nav--level-0>.nav__item>.nav__link {
      box-shadow: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    /* submenu open/close */
    .region--main-nav .nav--main .nav__item--level-0>.nav__subnav-wrapper {
      position: absolute;
      top: 0;
      right: auto;
      left: 0;
      /* min-width: 100%; */
      min-width: 12rem;
      /* width: auto; */
      /* overflow-x: hidden;
      overflow-y: visible; */
      transition: var(--academica-transition-smooth);
      /* min-height: calc(100vh - (var(--academica-size-nav-item) + 200px)); */
      /* can't be 100vh or else sticky footer is impacted */
      min-height: 50vh;
      margin-block-start: var(--academica-size-nav-item);
      z-index: 99;
    }
    
    /* collapse subnav */
    .region--main-nav .nav--main .nav__item--collapsed .nav__subnav-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    /* collapse subnav */
    .region--main-nav .nav--main .nav__item--collapsed .nav--level-1 {
      margin-block-start: calc((var(--academica-size-nav-item) + 100%) * -1);
    }
    
    /* expand subnav */
    .region--main-nav .nav--main .nav__item--expanded .nav__subnav-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    /* expand subnav */
    .region--main-nav .nav--main .nav__item--expanded .nav--level-1 {
      box-shadow: var(--academica-shadow-002);
      border-block-end: var(--academica-size-border-active-item) solid var(--academica-color-border-primary-lightest);
      margin-block-start: 0;
    }
    
    /* expand subnav level 2 when level 1 is expanded */
    .region--main-nav .nav--main .nav__item--expanded .nav__subnav-wrapper .nav__subnav-wrapper {
      position: relative;
      min-height: auto;
      clip-path: none;
      margin-block-start: 0;
    }
}



/* hide mobile nav toggle on desktop */



.region--main-nav .button {
  display: none;
  padding-inline: calc(var(--academica-size-radius-button) * 0.5);
}



/* Mobile nav drawer */



@media (max-width: 992px) {
  
  /* Mobile nav toggle button */
  .region--main-nav .button {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc((100% + 1.5rem) * -1));
  }
  
  #main-menu-hider {
    position: absolute;
    inline-size: 100%;
    z-index: 3;
    transition: var(--academica-transition-ease-in);
  }
  
  #main-menu-hider.menu-closed {
    transform: translateX(105%);
  }
  
  #main-menu-hider.menu-opened {
    transform: translateX(0);
  }
}