/* a:not(.button, .tab, .nav__link), */
p>a,
li:not(.nav__item)>a,
.link {
  position: relative;
  /* display: inline; */
  color: var(--academica-color-link-default);
  font-weight: 600;
  text-decoration: none;
  transition: var(--academica-transition-basic);
  border-radius: var(--academica-size-radius-sm);
  
  /* focus indicator */
  border: var(--academica-size-thickness-focus-indicator) solid transparent;
}
/*** *** STATES *** ***/
/* state:hover */
p>a:hover,
  p>a:visited:hover,
  li:not(.nav__item)>a:hover,
  li:not(.nav__item)>a:visited:hover,
  .link:hover,
  .link:visited:hover {
    color: var(--academica-color-link-hover);
    background-position: 2% 100%;
  }
/* state:focus */
p>a:focus,
  p>a:focus-visible,
  p>a:visited:focus,
  p>a:visited:focus-visible,
  li:not(.nav__item)>a:focus,
  li:not(.nav__item)>a:focus-visible,
  li:not(.nav__item)>a:visited:focus,
  li:not(.nav__item)>a:visited:focus-visible,
  .link:focus,
  .link:focus-visible,
  .link:visited:focus,
  .link:visited:focus-visible {
    color: var(--academica-color-link-focus);
    outline: 0;
    border-color: var(--academica-color-focus-indicator);
  }
/* state:active */
p>a:active,
  p>a:visited:active,
  li:not(.nav__item)>a:active,
  li:not(.nav__item)>a:visited:active,
  .link:active,
  .link:visited:active {
    color: var(--academica-color-link-active);
    border-color: transparent;
    outline: none;
  }
p>a:focus:active,
  p>a:focus-visible:active,
  li:not(.nav__item)>a:focus:active,
  li:not(.nav__item)>a:focus-visible:active,
  .link:focus:active,
  .link:focus-visible:active {
    border-color: transparent;
    outline: none;
  }
/*** prevent focus from firing on click ***/
p>a:-webkit-focus-ring, li:not(.nav__item)>a:-webkit-focus-ring, .link:-webkit-focus-ring {
    border-color: transparent;
    outline: none;
    box-shadow: none;
  }
p>a:visited, li:not(.nav__item)>a:visited, .link:visited {
    color: var(--academica-color-link-visited);
  }
/*** *** *** VARIANTS *** *** ***/
/*** variant: content ***/
p>a.content,
  p>p>a,
  li>p>a,
  li:not(.nav__item)>a.content,
  p>li:not(.nav__item)>a,
  li>li:not(.nav__item)>a,
  .link.content,
  p>.link,
  li>.link {
    display: inline;
    background: linear-gradient(to right,
        var(--academica-color-link-decoration-02) 0%, var(--academica-color-link-decoration-02) 50%,
        var(--academica-color-link-decoration-01) 51%, var(--academica-color-link-decoration-01) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 300% 2px;
    background-position: 98% 100%;
    box-decoration-break: slice;
    -webkit-box-decoration-break: slice;
  }
/*** variant: call to action ***/
p>a.cta, li:not(.nav__item)>a.cta, .link.cta {
    --cta-icon-transform: 0.25rem;
    
    display: inline;
    position: relative;
    padding-block: 0.125rem;
    padding-inline-start: 0.125rem;
    padding-inline-end: 1rem;
    margin-inline-start: auto;
    font-family: var(--academica-font-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.1;
    
    box-decoration-break: slice;
    -webkit-box-decoration-break: slice;
    
    background: linear-gradient(to right,
        var(--academica-color-link-decoration-02) 0%, var(--academica-color-link-decoration-02) 50%,
        transparent 51%, transparent 100%);
    background-repeat: no-repeat;
    
    background-size: 300% 3px;
    background-position: 90% 100%;
  }
/* visited stays bright */
p>a.cta:visited, li:not(.nav__item)>a.cta:visited, .link.cta:visited {
      color: var(--academica-color-link-default);
    }
p>a.cta:hover, li:not(.nav__item)>a.cta:hover, .link.cta:hover {
      background-position: 10% 100%;
    }
p>a.cta::after, li:not(.nav__item)>a.cta::after, .link.cta::after {
      content: "";
      width: 1.125rem;
      height: 1.125rem;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: calc(100% + var(--cta-icon-transform));
      margin-block: auto;
      margin-inline-start: auto;
      background-color: var(--academica-color-link-hover);
      -webkit-mask-image: url('../../../assets/icons/arrow-forward-alt.svg');
              mask-image: url('../../../assets/icons/arrow-forward-alt.svg');
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-position: center;
              mask-position: center;
      max-block-size: 100%;
      transition: var(--academica-transition-boing);
    }
p>a.cta:hover::after, li:not(.nav__item)>a.cta:hover::after, .link.cta:hover::after {
      transform: translateX(var(--cta-icon-transform)) scale(1.1);
      background-color: var(--academica-color-link-default);
    }