/*** Layout ***/
.container {
  position: relative;
  width: 100%;
  max-inline-size: var(--academica-size-container-width);
  min-inline-size: 320px;
  
  margin-left: auto;
  margin-right: auto;
  padding-inline: var(--academica-size-container-padding);
  
  /*** Wide Variant ***/
  &--wide {
    max-inline-size: var(--academica-size-container-width-lg);
  }
  
  /*** Full Width Variant ***/
  &--full {
    padding-inline: 0;
    margin: 0;
    max-inline-size: 100%;
  }
}