p,
.p {
  font-family: var(--academica-font-primary);
  font-size: var(--academica-size-text-med);
  line-height: 1.6;
  font-weight: 400;
  
  color: var(--academica-color-fg-base);
  
  margin-block-start: 0;
  margin-block-end: 1rem;
  max-width: var(--academica-size-charlimit);
}
  
  
  /*** Lead introduces an article ***/
  p.lead, .p.lead {
    font-size: var(--academica-size-text-lrg);
    line-height: 1.8;
    font-weight: 400;
    max-width: calc(var(--academica-size-charlimit) * 0.75);
  }
  /*** Deck follows a heading ***/
  p.deck, .p.deck {
    font-size: calc(var(--academica-size-text-lrg) + 0.1rem);
    font-weight: 600;
    line-height: 1.8;
    margin: 1rem 0;
    max-width: calc(var(--academica-size-charlimit) * 0.75);
  }
  /*** Kicker introduces a heading ***/
  p.kicker, .p.kicker {
    display: block;
    font-size: calc(var(--academica-size-text-lrg) + 0.2rem);
    font-weight: 600;
    line-height: 1.8;
    margin-block-end: 0.25rem;
  }