.title {
  color: var(--academica-color-fg-base);
  font-family: var(--academica-font-serif);
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--academica-size-charlimit-lg);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
  
  /* ::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    block-size: 12px;
    inline-size: 100px;
    background-color: #41b6e6;
    border-radius: 6px;
    transform: translateY(-0.5rem) translateX(-1.5rem);
  } */
}
  
  .title--page {
    margin-block-end: 2rem;
  }
  
  .title--card {
    position: relative;
    display: block;
    margin: 0;
    /* border-inline-start: 6px solid var(--academica-color-border-tertiary); */
    padding-inline-start: 1rem;
  }
  
  .title--card::before {
      content: "";
      width: 6px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--academica-color-border-tertiary);
      overflow: hidden;
      border-radius: var(--academica-size-radius-sm);
    }
  
  .title--section {
    position: relative;
    display: block;
    padding-block-start: 1.5rem;
  }
  
  .title--section::before {
      --flag-height: 12px;
      --notch-calc: calc(100% - var(--flag-height));
      
      content: "";
      width: 5rem;
      height: var(--flag-height);
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--academica-color-border-tertiary);
      transform: translateX(calc((var(--flag-height) + var(--academica-size-col-padding)) * -1));
      overflow: hidden;
      border-end-end-radius: var(--flag-height);
      border-start-start-radius: var(--flag-height);
    }



/* has flag indicator - is in content region OR has section-heading class */



.section-title {
  position: relative;
  display: block;
  padding-block-start: 1.5rem;
}



.section-title::before {
    --flag-height: 12px;
    --notch-calc: calc(100% - var(--flag-height));
    
    content: "";
    width: 5rem;
    height: var(--flag-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--academica-color-border-tertiary);
    transform: translateX(calc((var(--academica-size-baseline) + var(--flag-height) + var(--academica-size-col-padding)) * -1));
    overflow: hidden;
    border-end-end-radius: var(--flag-height);
    border-start-start-radius: var(--flag-height);
  }